# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Django ###
*.log
*.pot
*.pyc
__pycache__/
/config/__pycache__/*
/config/base_settings.py
/media/*
/static/admin/
/static/admin/*
/env
/venv
.idea
*.sqlite3

# django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py
